<p>Dear Customer,<br/>
<br/>
Thank you for using Flux CDA application by Indusind Bank. The details of the Charges for the month <%= details.billPeriod %>
        can be found in attachment.<br/>
<br/>
<b>Charge Summary:</b><br/>
Utility Code:<%= details.utilityCode %><br/>
Bill Number:<%= details.billNumber %><br/>
Total Amount Due:Rs.<%= details.finalTotalAmount %><br/>
Bill Date:<%= details.billDate %><br/>
<br/>
Thank You,
<br/>
Indusind Bank<br/>
</p>